/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

.bg-light {
    background-color: #71DFE7 !important
 }

.navbar-brand, .nav-link {
    color: rgb(10, 2, 77) !important; 
    font-family: sans-serif;
 }

.navbar-brand {
    display: flex;
    padding-top: 1em;
 }

.navbar-brand > p {
    margin-top: 0.2em;
    margin-left: 0.2em;
 }

main {
    background-color: #fffef2;
 }

.home {
    background-color: #ebd3c7;
    color: #6b2c19;
    position: relative;
 }

.home > h1:first-child {
    position: absolute;
    top: 10%;
    left: 10%;
 }

.home > h1 {
    position: absolute;
    top: 20%;
    left: 13%;
}

.home img {
   width: 100%;
}

.about-me {
  background-color: #ebd3c7;
  color: #6b2c19;
  display: flex;
  flex-direction: row;
}

.portrait {
  width: 50%;
  text-align: center;
  padding: 1em;
}

.portrait img {
  width: 50%;
}

.text-self {
  width: 50%;
  height: 100%;
}





@media only screen and (max-width: 412px) {
    /* .home {
        height: 300px;
    } */

    .home > h1{
      top: 50%;
      left: 8%;
    }

    .home > h1:first-child {
      top: 35%;
      left: 8%;
    }
}

@media only screen and (min-width: 360px) {
   .home > h1{
      top: 40%;
      left: 5%;
    }

    .home > h1:first-child {
      top: 27%;
      left: 5%;
    }  
}